fastapi==0.119.0
uvicorn==0.37.0
python-multipart
opencv-python
opencv-python-headless
torch==2.8.0
torchvision==0.23.0
ultralytics==8.3.213
ultralytics-thop==2.0.17
pillow==11.3.0
numpy==2.2.6
scipy==1.15.3
matplotlib==3.10.7
webcolors
requests
aiofiles
python-dotenv
scikit-learn
aiortc